a {
    color: white;
    text-decoration: none;
}

#mainCanvas {
    position: fixed;
    left: 0;
    top: 0;
}

#panel {
    background-color: black;
    color: white;
    float: right;
    font-family: 'Helvetica', sans-serif;
    font-size: 10pt;
    opacity: 0.4;
    padding: 1em;
    z-index: 10;
}

#panel:hover {
    opacity: 0.7;
}

.num {
    width: 40px;
}

.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
   box-shadow: 0 0 5px rgba(120,120,120,0.7), 5px 5px 10px rgba(120,120,120,0.7);
}
